<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let r of rss" >
      <ion-img src="{{r.urlImage}}"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>{{r.description}}</ion-card-subtitle>
        <ion-card-title>{{r.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{r.content}}
      </ion-card-content>
    </ion-card>
</ion-content>
